:root {
  --color-primary: #5c7cfa;
  --color-primary-dark: #4263eb;
  --color-primary-alpha: #5c7cfa50;

  --body-color: #495057;
  --body-bg: #f8f9fa;

  --border-color: #dee2e6;
}

body {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--body-color);
  background: var(--body-bg);
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  opacity: .2;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

label {
  display: block;
  margin: .5rem 0;
  font-weight: 700;
}

input, textarea {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: .25rem;
  box-sizing: border-box;
  color: #33404d;
  line-height: inherit;
  font-size: 16px;
  resize: vertical;
  transition: border .3s, background .3s, color .3s, box-shadow .3s;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0 .25rem var(--color-primary-alpha);
  border-color: var(--color-primary);
  outline: 0;
}

details {
  margin: 1rem 0 2rem;
  border: 1px solid var(--border-color);
  border-radius: .25rem;
  transition: background .3s ease 0s, box-shadow .3s ease 0s;
}

details[open] {
  background: #fff;
}

details summary {
  padding: .5rem 1rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  outline: 0;
}

details div {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
}

details small {
  margin: 0;
  font-size: .875rem;
  line-height: 2;
}

details code {
  padding: .125rem .25rem;
  border-radius: .125rem;
  color: var(--body-bg);
  background: var(--body-color);
}

button {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  padding: .5rem .75rem;
  border: 1px solid var(--color-primary);
  border-radius: .25rem;
  background: var(--color-primary);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  user-select: none;
  transition: border .3s, background .3s, color .3s;
}

button:hover:not(:disabled) {
  border-color: var(--color-primary-dark);
  background: var(--color-primary-dark);
}

button:focus:not(:disabled) {
  box-shadow: 0 0 0 .25rem var(--color-primary-alpha);
  border-color: var(--color-primary);
  outline: 0;
}

button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

footer {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  text-align: center;
  opacity: .5;
}

footer i {
  font-style: normal;
  color: #ff8787;
}
